$site-fonts: 'Inter', "Arial", sans-serif;
$black-color: #000;
$text-color: #1B1818;
$site-bg-color: #F3F5F6;
$primary-color: #FBD230;
$blue: #1877F2;
$btn-dark-blue: #054495;
$dark-blue: #00278C;
$white-color: #fff;
$a7-grey-color: #A7A5A5;
$red-color: #F50000;
$header-nav-color: #989898;
$site-balck-color: #171616;
$site-nav-color: #806C21;