.special {
    padding: 5rem 0;
    .container {
        @include container;
        position: relative;
        max-width: 1320px;
        padding: 5rem 3rem 6.5rem 3rem;
        background: $white-color;
        border-radius: 12px;
        @include media(650px) {
            padding: 2rem !important;
            max-width: 1360px !important;
        }
    }
    &__title {
        @include title;
        margin-bottom: 4rem;
        padding-top: 0.5rem;
        &::before {
            content: '';
            width: 53px;
            height: 6px;
            position: absolute;
            top: 5rem;
            left: 3rem;
            background: $dark-blue;
            @include media(650px) {
                top: 2rem;
                left: 2rem;
            }
        }
    }
    &__list-w {
        display: flex;
        gap: 2.7rem;
        @include media(1313px) {
            flex-wrap: wrap;
        }
        @include media(650px) {
            gap: 1.9rem;
        }
    }
    &__left-list {
        display: grid;
        gap: 1.9rem;
        grid-template-columns: 1fr;
        
        @include media(1313px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include media(1210px) {
            grid-template-columns: 1fr 1fr;
        }
        @include media(828px) {
            grid-template-columns: 1fr;
        }
        .small-item {
            max-width: 100%;
        }
    }
    &__right-list {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        @include media(680px) {
            grid-template-columns: 1fr;
        }
    }
}